{
  "openapi": "3.0.1",
  "info": {
    "title": "DataForSEO API (OpenSEO subset)",
    "version": "1.0.0",
    "description": "The DataForSEO v3 operations OpenSEO calls, with free-form bodies. Generated by scripts/trim-dataforseo-spec.ts."
  },
  "servers": [
    {
      "url": "https://api.dataforseo.com"
    },
    {
      "url": "https://sandbox.dataforseo.com"
    }
  ],
  "paths": {
    "/v3/serp/google/organic/live/advanced": {
      "post": {
        "operationId": "GoogleOrganicLiveAdvanced",
        "tags": ["Serp"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "serp.google.organic.live.advanced"
      }
    },
    "/v3/serp/google/organic/task_post": {
      "post": {
        "operationId": "GoogleOrganicTaskPost",
        "tags": ["Serp"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "serp.google.organic.task_post"
      }
    },
    "/v3/serp/google/organic/task_get/advanced/{id}": {
      "get": {
        "operationId": "GoogleOrganicTaskGetAdvanced",
        "tags": ["Serp"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "serp.google.organic.task_get.advanced"
      }
    },
    "/v3/serp/google/maps/live/advanced": {
      "post": {
        "operationId": "GoogleMapsLiveAdvanced",
        "tags": ["Serp"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "serp.google.maps.live.advanced"
      }
    },
    "/v3/serp/google/local_finder/live/advanced": {
      "post": {
        "operationId": "GoogleLocalFinderLiveAdvanced",
        "tags": ["Serp"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "serp.google.local_finder.live.advanced"
      }
    },
    "/v3/serp/google/locations/{country}": {
      "get": {
        "operationId": "GoogleLocationsCountry",
        "tags": ["Serp"],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "serp.google.locations"
      }
    },
    "/v3/dataforseo_labs/google/related_keywords/live": {
      "post": {
        "operationId": "GoogleRelatedKeywordsLive",
        "tags": ["DataforseoLabs"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "dataforseo_labs.google.related_keywords.live"
      }
    },
    "/v3/dataforseo_labs/google/keyword_suggestions/live": {
      "post": {
        "operationId": "GoogleKeywordSuggestionsLive",
        "tags": ["DataforseoLabs"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "dataforseo_labs.google.keyword_suggestions.live"
      }
    },
    "/v3/dataforseo_labs/google/keyword_ideas/live": {
      "post": {
        "operationId": "GoogleKeywordIdeasLive",
        "tags": ["DataforseoLabs"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "dataforseo_labs.google.keyword_ideas.live"
      }
    },
    "/v3/dataforseo_labs/google/keyword_overview/live": {
      "post": {
        "operationId": "GoogleKeywordOverviewLive",
        "tags": ["DataforseoLabs"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "dataforseo_labs.google.keyword_overview.live"
      }
    },
    "/v3/dataforseo_labs/google/domain_rank_overview/live": {
      "post": {
        "operationId": "GoogleDomainRankOverviewLive",
        "tags": ["DataforseoLabs"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "dataforseo_labs.google.domain_rank_overview.live"
      }
    },
    "/v3/dataforseo_labs/google/ranked_keywords/live": {
      "post": {
        "operationId": "GoogleRankedKeywordsLive",
        "tags": ["DataforseoLabs"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "dataforseo_labs.google.ranked_keywords.live"
      }
    },
    "/v3/dataforseo_labs/google/relevant_pages/live": {
      "post": {
        "operationId": "GoogleRelevantPagesLive",
        "tags": ["DataforseoLabs"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "dataforseo_labs.google.relevant_pages.live"
      }
    },
    "/v3/dataforseo_labs/google/serp_competitors/live": {
      "post": {
        "operationId": "GoogleSerpCompetitorsLive",
        "tags": ["DataforseoLabs"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "dataforseo_labs.google.serp_competitors.live"
      }
    },
    "/v3/keywords_data/google_ads/search_volume/live": {
      "post": {
        "operationId": "GoogleAdsSearchVolumeLive",
        "tags": ["KeywordsData"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "keywords_data.google_ads.search_volume.live"
      }
    },
    "/v3/keywords_data/google_ads/keywords_for_keywords/live": {
      "post": {
        "operationId": "GoogleAdsKeywordsForKeywordsLive",
        "tags": ["KeywordsData"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "keywords_data.google_ads.keywords_for_keywords.live"
      }
    },
    "/v3/backlinks/summary/live": {
      "post": {
        "operationId": "SummaryLive",
        "tags": ["Backlinks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "backlinks.summary.live"
      }
    },
    "/v3/backlinks/backlinks/live": {
      "post": {
        "operationId": "BacklinksLive",
        "tags": ["Backlinks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "backlinks.backlinks.live"
      }
    },
    "/v3/backlinks/referring_domains/live": {
      "post": {
        "operationId": "ReferringDomainsLive",
        "tags": ["Backlinks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "backlinks.referring_domains.live"
      }
    },
    "/v3/backlinks/domain_pages_summary/live": {
      "post": {
        "operationId": "DomainPagesSummaryLive",
        "tags": ["Backlinks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "backlinks.domain_pages_summary.live"
      }
    },
    "/v3/backlinks/history/live": {
      "post": {
        "operationId": "HistoryLive",
        "tags": ["Backlinks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "backlinks.history.live"
      }
    },
    "/v3/business_data/business_listings/search/live": {
      "post": {
        "operationId": "BusinessListingsSearchLive",
        "tags": ["BusinessData"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "business_data.business_listings.search.live"
      }
    },
    "/v3/business_data/business_listings/categories": {
      "get": {
        "operationId": "BusinessListingsCategories",
        "tags": ["BusinessData"],
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "business_data.business_listings.categories"
      }
    },
    "/v3/business_data/google/questions_and_answers/live": {
      "post": {
        "operationId": "GoogleQuestionsAndAnswersLive",
        "tags": ["BusinessData"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "business_data.google.questions_and_answers.live"
      }
    },
    "/v3/business_data/google/my_business_info/live": {
      "post": {
        "operationId": "GoogleMyBusinessInfoLive",
        "tags": ["BusinessData"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "business_data.google.my_business_info.live"
      }
    },
    "/v3/business_data/google/reviews/task_post": {
      "post": {
        "operationId": "GoogleReviewsTaskPost",
        "tags": ["BusinessData"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "business_data.google.reviews.task_post"
      }
    },
    "/v3/business_data/google/reviews/task_get/{id}": {
      "get": {
        "operationId": "GoogleReviewsTaskGet",
        "tags": ["BusinessData"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "business_data.google.reviews.task_get"
      }
    },
    "/v3/business_data/google/extended_reviews/task_post": {
      "post": {
        "operationId": "GoogleExtendedReviewsTaskPost",
        "tags": ["BusinessData"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "business_data.google.extended_reviews.task_post"
      }
    },
    "/v3/business_data/google/extended_reviews/task_get/{id}": {
      "get": {
        "operationId": "GoogleExtendedReviewsTaskGet",
        "tags": ["BusinessData"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "business_data.google.extended_reviews.task_get"
      }
    },
    "/v3/business_data/google/my_business_updates/task_post": {
      "post": {
        "operationId": "GoogleMyBusinessUpdatesTaskPost",
        "tags": ["BusinessData"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "business_data.google.my_business_updates.task_post"
      }
    },
    "/v3/business_data/google/my_business_updates/task_get/{id}": {
      "get": {
        "operationId": "GoogleMyBusinessUpdatesTaskGet",
        "tags": ["BusinessData"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "business_data.google.my_business_updates.task_get"
      }
    },
    "/v3/ai_optimization/llm_mentions/search/live": {
      "post": {
        "operationId": "AiOptimizationLlmMentionsSearchLive",
        "tags": ["AiOptimization"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "ai_optimization.llm_mentions.search.live"
      }
    },
    "/v3/ai_optimization/llm_mentions/aggregated_metrics/live": {
      "post": {
        "operationId": "AiOptimizationLlmMentionsAggregatedMetricsLive",
        "tags": ["AiOptimization"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "ai_optimization.llm_mentions.aggregated_metrics.live"
      }
    },
    "/v3/ai_optimization/llm_mentions/top_pages/live": {
      "post": {
        "operationId": "AiOptimizationLlmMentionsTopPagesLive",
        "tags": ["AiOptimization"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "ai_optimization.llm_mentions.top_pages.live"
      }
    },
    "/v3/ai_optimization/llm_mentions/cross_aggregated_metrics/live": {
      "post": {
        "operationId": "AiOptimizationLlmMentionsCrossAggregatedMetricsLive",
        "tags": ["AiOptimization"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "ai_optimization.llm_mentions.cross_aggregated_metrics.live"
      }
    },
    "/v3/ai_optimization/chat_gpt/llm_responses/live": {
      "post": {
        "operationId": "ChatGptLlmResponsesLive",
        "tags": ["AiOptimization"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "ai_optimization.chat_gpt.llm_responses.live"
      }
    },
    "/v3/ai_optimization/claude/llm_responses/live": {
      "post": {
        "operationId": "ClaudeLlmResponsesLive",
        "tags": ["AiOptimization"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "ai_optimization.claude.llm_responses.live"
      }
    },
    "/v3/ai_optimization/gemini/llm_responses/live": {
      "post": {
        "operationId": "GeminiLlmResponsesLive",
        "tags": ["AiOptimization"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "ai_optimization.gemini.llm_responses.live"
      }
    },
    "/v3/ai_optimization/perplexity/llm_responses/live": {
      "post": {
        "operationId": "PerplexityLlmResponsesLive",
        "tags": ["AiOptimization"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "ai_optimization.perplexity.llm_responses.live"
      }
    },
    "/v3/on_page/lighthouse/live/json": {
      "post": {
        "operationId": "LighthouseLiveJson",
        "tags": ["OnPage"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "on_page.lighthouse.live.json"
      }
    },
    "/v3/appendix/user_data": {
      "get": {
        "operationId": "UserData",
        "tags": ["Appendix"],
        "responses": {
          "200": {
            "description": "DataForSEO response envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-executor-toolPath": "appendix.user_data"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}
